
  #three-container {
    background: transparent; /* Asegura que el contenedor sea transparente */
  }

  body {
    margin: 0;
    background: black; /* Color de respaldo si el modelo no carga */
  }
  #contacto {
    transition: all 0.3s ease-in-out;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 8px;
  }
  
  #contacto.fixed {
    position: fixed;
    top: 56px;  /* Ajusta según la altura del navbar */
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #footer-spacer {
    height: 200px;  /* Ajusta esta altura para dejar espacio adicional */
  }
  
  #navbar {
    background-color: transparent !important; /* Hace el navbar transparente */
    box-shadow: none; /* Elimina cualquier sombra si está presente */
    
  }
  .navbar-light .navbar-nav .nav-link {
    color: #fff; /* Ajusta el color del texto en el navbar */
  }
  
  .navbar-light .navbar-toggler-icon {
    background-color: #fff; /* Ajusta el color del icono del toggler */
  }
  .navbar-light .navbar-brand {
    color: #fff; /* Hace el texto del logo (navbar-brand) blanco */
  }